body {
	background-color: lime;
	font-family: cursive;
  }

  img {
	display: block;
	width: 20%;
	margin-left: auto;
	margin-right: auto;
  }

	.glow {
		font-size: 50px;
		color: rgb(169, 255, 120);
		text-align: center;
		animation: glow 1s ease-in-out infinite alternate;
	  }
	  
	  @-webkit-keyframes glow {
		from {
		  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #c6ffa6, 0 0 40px #c6ffa6, 0 0 50px #c6ffa6, 0 0 60px #c6ffa6, 0 0 70px #c6ffa6;
		}
		
		to {
		  text-shadow: 0 0 20px #fff, 0 0 30px #a9c997, 0 0 40px #a9c997, 0 0 50px #a9c997, 0 0 60px #a9c997, 0 0 70px #a9c997, 0 0 80px #a9c997;
		}
	  }

hr.hr1 {
		border-top: 1px dashed green;
		width: 20%;
	  }
hr.hr2 {
		border: 2px solid green;
		width: 40%;
	  }
.heading { color: #fff;}
.ip-address p{
		color: #62b368;
		font-weight: bold;
	}
#demo {color: red;}

.footer p{
			padding: 5px;
			background-color: green;
			font-weight: bold;
			text-align: center;
			color: white;
		}
.footer i
{
	color: red;
}
